*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: white;
}

/*- Weights: 400, 600, 700 */

@font-face {
  font-family: "Sora";
  src: url("./typing-speed-test-main/Sora/Sora-VariableFont_wght.ttf")
    format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Sora";
  src: url("./typing-speed-test-main/Sora/Sora-VariableFont_wght.ttf")
    format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Sora";
  src: url("./typing-speed-test-main/Sora/Sora-VariableFont_wght.ttf")
    format("truetype");
  font-weight: 700;
  font-style: normal;
}

body {
  background: rgb(20, 20, 20);
  display: flex;
  align-items: center;
  flex-direction: column;
  font-family: "Sora";
}

header {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

header div {
  display: flex;
  align-items: center;
  gap: 0.2em;
}

header span:first-child {
  color: hsl(0, 0%, 15%);
}
.select {
  display: flex;
}

.option-container option {
  background: none;
  border: 1px solid white;
  padding-inline: 1em;
  padding-block: 0.2em;
  border-radius: 5px;
  cursor: pointer;
}

.overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: 2;

  white-space: nowrap;
}

.overlay span {
  font-size: 1em;
  display: block;
}

#start {
  background: hsl(214, 100%, 55%);
  border: none;
  text-transform: capitalize;
  cursor: pointer;
  font-size: 1.2rem;
  padding-inline: 0.5em;

  padding-block: 0.5em;
  border-radius: 10px;
}

#time {
  color: hsl(49, 85%, 70%);
}
main {
  position: relative;
}

#text {
  display: flex;

  width: 90%;

  white-space: pre-wrap;
  flex-wrap: wrap;
}

#text.not-started {
  filter: blur(5px);
}

#text span {
  font-size: 2rem;
}

.correct {
  color: hsl(140, 63%, 57%);
}
.incorrect {
  color: hsl(354, 63%, 57%);
}

.current {
  border-radius: 0.3rem;
  animation: smooth-blink 2s infinite;
}

@keyframes smooth-blink {
  0%,
  100% {
    background: hsl(240, 1%, 59%);
  }
  50% {
    background: hsla(240, 1%, 59%, 0.295);
  }
}

select {
  background: black;
}

button {
  background: hsl(0, 0%, 15%);
  font: inherit;
  border: none;
  cursor: pointer;
}

.hidden {
  display: none;
}

@media screen and (min-width: 750px) {
  #text {
    width: 60%;
  }
}
